<div class="main-content dashboard-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                    <div class="card card-dcb dashboard-card">
                            <div class="card-header card-header-text card-header-info">
                                <button mat-button 
                                        [ngStyle]="{ backgroundColor: colorBtnDefault }" 
                                        (mouseenter)="onButtonEnter($event.target)" 
                                        (mouseleave)="onButtonOut($event.target)"  
                                        class="btn dcb-btn"
                                        (click)="openAddDialog()">
                                        Add User
                                </button>   
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="overflow-x: scroll;">
                                        <div style="width: 1590px;">
                                            <ng2-smart-table [settings]="settings" [source]="userSource"></ng2-smart-table>   
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            
                    </div>
                </div>
        </div>
    </div>
</div>