<h1 mat-dialog-title>Details</h1>
<div mat-dialog-content>
    <ng-container *ngIf="data.method=='create'">
        <div class="row">
            <div class="col-md-12">
                <p>Employee Number : {{logData.employeeNo}}</p>
                <p>Name : {{logData.name}}</p>
                <p>Email : {{logData.email}}</p>
                <p>Phone : {{logData.phone}}</p>
                <p>Start : {{logData.start}}</p>
                <p>Break : {{logData.break}}</p>
                <p>Finish : {{logData.finish}}</p>
                <p>Default Costcode : {{logData.defaultCostcode}}</p>
                <p>Paid Rate : {{logData.paidRate}}</p>
            </div>
        </div>
        <br>
    </ng-container>

    <ng-container *ngIf="data.method=='update'">
        <td-ngx-text-diff
        [left]="left"
        [right]="right"
        (compareResults)="onCompareResults($event)"
        ></td-ngx-text-diff>
    </ng-container>

</div>
<div mat-dialog-actions>
    <button 
        [ngStyle]="{ backgroundColor: colorBtnDefault }" 
        (mouseenter)="onButtonEnter($event.target)" 
        (mouseleave)="onButtonOut($event.target)" 
        mat-button 
        class = "btn dcb-btn" 
        (click)="onNoClick()">Close
    </button>
</div>

