<div class="main-content dashboard-content">
    <div class="container-fluid">
      <div class = "row">
          <div class="col-md-6">
              <div class="card card-dcb  dashboard-card compact-layout compact-layout-common">
                      <div class="card-header card-header-text card-header-success">
                          <!-- <div class="card-text">
                              Email Settings for Admin Approval
                          </div>  -->
                    </div>
                    <div class="card-body">
                        <form [formGroup]="editForm" class="dcb-form">

                            <!-- <div class="row">
                                <div class="col-md-3">
                                      <label>Variations Admin Email</label>
                                      <input formControlName="varEmailRecipient" id="varEmailRecipient" placeholder="Variations Admin Email" matInput type="text">
                                </div>
                            </div> -->
                            <div class="custom-frame">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Variations Admin Email *</label>
                                        <tag-input id="varEmailRecipient" formControlName="varEmailRecipient" [editable]="true" placeholder="Variations Admin Email"
                                        secondaryPlaceholder="Variations Admin Email" [modelAsStrings]="true" addOnBlur="true">
                                        </tag-input>
                                    </div>    
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Variations Default Opening Message</label>
                                        <div><quill-editor [preserveWhitespace]="true" id="varDefaultOpening" formControlName="varDefaultOpening"></quill-editor></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Variations Default Closing Message</label>
                                        <div><quill-editor [preserveWhitespace]="true" id="varDefaultClosing" formControlName="varDefaultClosing"></quill-editor></div>
                                    </div>
                                </div>
                            </div>
                             <br>
                            <div class="custom-frame">
                                <div class="row">
                                    <div class="col-md-12">    
                                        <label style="font-weight: bold;">Variations Number Format</label>
                                        <span style="font-style: italic;">Updating this setting will not apply to the existing variation number, but it will apply to the next variation after you update this setting.</span>
                                        <div class="togglebutton">
                                                <label>
                                                <input type="checkbox" formControlName="varSetJobNum">
                                                <!-- <input type="checkbox" (change)="showApprovedOnly($event)"> -->
                                                <span [style.backgroundColor]="editForm.value.varSetJobNum ? colorHlightDefault : ''" class="toggle"></span>
                                                        Add Project's Job number on the Variation Number?
                                                </label>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Variations Code</label>
                                                <input style = "max-width: 80px;" formControlName="varSetCode" id="varSetCode" placeholder="Var" matInput type="text">
                                            </div>
                                            <!-- <div class="col-md-6">
                                                <label>Variation Starting Number <span (click)="openProjectCounterDialog()" class="btn-span">(See Project's Variation Numbers)</span></label>
                                                <input style = "max-width: 80px;" formControlName="varSetStartNumber" id="varSetStartNumber" placeholder="0" matInput type="number"><span> (Highest Project Current Variation Number: {{hiProjVarNo}})</span><br>
                                                <span style="font-style: italic;">Please set this field higher than the highest number among the project's current variation numbers to avoid duplication.</span>
                                            </div> -->
                                        </div>     
                                        
                                    </div>
                                </div>
                            </div>
                            <!--
                            <br>
                            <div class="custom-frame">
                                <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                                <div class="togglebutton">
                                                        <label>
                                                        <input type="checkbox" formControlName="bmLineitem">
                                                        <span [style.backgroundColor]="editForm.value.bmLineitem ? colorHlightDefault : ''" class="toggle"></span>
                                                                Add Builder's Margin per line item
                                                        </label>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                                <div class="togglebutton">
                                                        <label>
                                                        <input type="checkbox"  formControlName="bmTotalFigure">
                                                        <span [style.backgroundColor]="editForm.value.bmTotalFigure ? colorHlightDefault : ''" class="toggle"></span>
                                                                Add Builder's Margin  as a Total Figure on the bottom of the Variation PDF above the Total GST
                                                        </label>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                            <div class="togglebutton">
                                                    <label>
                                                    <input type="checkbox"  formControlName="bmHideAll">
                                                    <span [style.backgroundColor]="editForm.value.bmHideAll ? colorHlightDefault : ''" class="toggle"></span>
                                                            Hide Builder's Margin completely from the PDF, but all the calculations remain.
                                                    </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                            <div class="togglebutton">
                                                    <label>
                                                    <input type="checkbox"  formControlName="qtyHideAll">
                                                    <span [style.backgroundColor]="editForm.value.qtyHideAll ? colorHlightDefault : ''" class="toggle"></span>
                                                            Hide Quantity completely from the PDF, but all the calculations remain.
                                                    </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                            <div class="togglebutton">
                                                    <label>
                                                    <input type="checkbox"  formControlName="unitHideAll">
                                                    <span [style.backgroundColor]="editForm.value.unitHideAll ? colorHlightDefault : ''" class="toggle"></span>
                                                            Hide Units completely from the PDF, but all the calculations remain.
                                                    </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                            <div class="togglebutton">
                                                    <label>
                                                    <input type="checkbox"  formControlName="unitCostHideAll">
                                                    <span [style.backgroundColor]="editForm.value.unitCostHideAll ? colorHlightDefault : ''" class="toggle"></span>
                                                            Hide Unit Cost completely from the PDF, but all the calculations remain.
                                                    </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                            <div class="togglebutton">
                                                    <label>
                                                    <input type="checkbox"  formControlName="gstHideAll">
                                                    <span [style.backgroundColor]="editForm.value.gstHideAll ? colorHlightDefault : ''" class="toggle"></span>
                                                            Hide Item GST completely from the PDF, but all the calculations remain.
                                                    </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                            <div class="togglebutton">
                                                    <label>
                                                    <input type="checkbox"  formControlName="itemTotalHideAll">
                                                    <span [style.backgroundColor]="editForm.value.itemTotalHideAll ? colorHlightDefault : ''" class="toggle"></span>
                                                            Hide Item Total Cost completely from the PDF, but all the calculations remain.
                                                    </label>
                                            </div>
                                    </div>
                                </div>
                                
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-md-3">
                                      <label>Company Name in the PDF</label>
                                      <input formControlName="pdfCompanyName" id="pdfCompanyName" placeholder="Company Name in the PDF" matInput type="text">
                            
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                  <label>Account Logo</label>
                                  <p>Please upload image with max width of 165px and max height of 65px</p>
                                  <div class="fileinput fileinput-new text-center">
                                    <div class="fileinput-new thumbnail" style = "max-width: 500px;">
                                      <img src="./assets/img/image_placeholder.jpg" alt="..." *ngIf="!imageURL">
                                      <img [src]="imageURL" *ngIf="imageURL && imageURL !== ''">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                      <span class="dcb-btn btn btn-change btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input accept="image/*" type="file" name="..." (change)="onFileChange($event)" />
                                      </span>
                                    </div>
                                  </div>
                                </div>
                            </div> -->
<!-- 
                            <div class="row">
                                <div class="col-md-12">
                                      <label>Weekly Report Approval (To):</label>
                                      <div class= "chip-input-holder">
                                        <mat-chip-grid #chipList>
                                            <mat-chip *ngFor="let EmailTo of editForm.get('emailTo')['controls']; let i = index;" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeEmailTo(i)">
                                                {{EmailTo.value}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input class="chip-input" placeholder="Admin Email Address Recipient"
                                                  [matChipInputFor]="chipList"
                                                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                  [matChipInputAddOnBlur]="addOnBlur"
                                                  (matChipInputTokenEnd)="addEmailTo($event)" />
                                        </mat-chip-grid>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                             
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <label>Weekly Report Approval (CC):</label>
                                        <div class= "chip-input-holder">
                                        <mat-chip-grid #chipList2>
                                            <mat-chip *ngFor="let EmailCC of editForm.get('emailCC')['controls']; let i = index;" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeEmailCC(i)">
                                                {{EmailCC.value}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input class="chip-input" placeholder="Admin Email Address Recipient"
                                                    [matChipInputFor]="chipList2"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="addEmailCC($event  )" />
                                        </mat-chip-grid>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                          
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <label>Weekly Report Approval (BCC):</label>
                                        <div class= "chip-input-holder">
                                        <mat-chip-grid #chipList2>
                                            <mat-chip *ngFor="let EmailBCC of editForm.get('emailBCC')['controls']; let i = index;" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeEmailBCC(i)">
                                                {{EmailBCC.value}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input class="chip-input" placeholder="Admin Email Address Recipient"
                                                    [matChipInputFor]="chipList2"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="addEmailBCC($event  )" />
                                        </mat-chip-grid>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                          
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <label>Project Request Recepient:</label>
                                        <div class= "chip-input-holder">
                                        <mat-chip-grid #chipList2>
                                            <mat-chip *ngFor="let ProjectReqestRecepient of editForm.get('projectReqestRecepient')['controls']; let i = index;" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeProjectReqestRecepient(i)">
                                                {{ProjectReqestRecepient.value}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input class="chip-input" placeholder="Project Request Recipient"
                                                    [matChipInputFor]="chipList2"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="addProjectReqestRecepient($event)" />
                                        </mat-chip-grid>
                                        </div>
                                </div>
                            </div> -->
                        </form>
                    </div>
                    <div class="card-footer">
                        <button [ngStyle]="{ backgroundColor: colorBtnDefault }" 
                            (mouseenter)="onButtonEnter($event.target)" 
                            (mouseleave)="onButtonOut($event.target)"  
                            (click)= "savestep1()" 
                            mat-button class="btn dcb-btn" >Save Settings</button>
                    </div>
            </div>
        </div>
    </div>
  </div>
</div>