<div class="main-content dashboard-content dailyproject-content">
    <div class="container-fluid">
        <div class = "row">
            <div class="col-md-12">
                <div class="card card-dcb dashboard-card">
                      <div class="card-header card-header-text card-header-success">
                          <!-- <div class="card-text">
                              Weekly Progress Report
                          </div>  -->
                          <!-- <div class = "side-link">
                              <button [routerLink]="'/notes/update'"  mat-button class="btn btn-primary">
                                <i class="material-icons">update</i> Update Note
                            </button>
                          </div> -->

                      </div>
                      <div class="card-body compact-layout compact-layout-common">
                        <div id="changelogs">
                            <div id="items">

                                    <div class="item">
                                      <div class="change-timeline">
                                        <div>
                                          <div class="meta">
                                            <div class="version">Version 3.6.0</div>
                                            <div class="release-date">25/06/2024</div>
                                          </div>
                                          <div class="connector">
                                            <div></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="content">
                                        <h3>A new minor update release! 🎉</h3>
                                        
                                        <div class="feature">
                                          <div class="tag enhancements">Minor</div>
                                          <p>Added View Reports (Daily Report and Weekly Report) to the Supervisor Dashboard</p>
                                        </div>

                                      </div>
                                  </div>


                                  <div class="item">
                                    <div class="change-timeline">
                                      <div>
                                        <div class="meta">
                                          <div class="version">Version 3.5.0</div>
                                          <div class="release-date">14/06/2024</div>
                                        </div>
                                        <div class="connector">
                                          <div></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content">
                                      <h3>A new minor update release! 🎉</h3>
                                      
                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <p>Create new fields for Variation Recipient, (Selection Recipient, RFI Recipient)</p>
                                      </div>

                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <p>Renamed the Client Address field to Weekly Report Email, Weekly Report (CC) & Weekly Report (BCC)</p>
                                      </div>

                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <div>
                                          <p>Add the following functionalities:</p>
                                          <ul>
                                            <li>Add new owner</li>
                                            <li>Add new supervisor</li>
                                            <li>Add new worker</li>
                                          </ul>
                                        </div>
                                      </div>

                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <p>Variation should only display the list of owners/clients on each project</p>
                                      </div>

                                    </div>
                                </div>

                                <div class="item">
                                  <div class="change-timeline">
                                    <div>
                                    <div class="meta">
                                      <div class="version">Version 3.4.1</div>
                                      <div class="release-date">05/06/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <h3>A new fixes release! 🎉</h3>
                              
                                    <div class="feature">
                                      <div class="tag fixes">Fixes</div>
                                      <p>Characters being added when copy-pasting text on Variation PDF</p>
                                    </div>

                                  </div>    
                                </div>
                              
                                <div class="item">
                                  <div class="change-timeline">
                                    <div>
                                      <div class="meta">
                                        <div class="version">Version 3.4.0</div>
                                        <div class="release-date">31/05/2024</div>
                                      </div>
                                      <div class="connector">
                                        <div></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <h3>A new minor update release! 🎉</h3>
                                    
                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add Email Validation for the Weekly Report Client and Admin Submission</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Update the Variation PDF column orders and display</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Added conditions for computation of Unit Cost depending on Builder's Margin display condition</p>
                                    </div>

                                  </div>
                              </div>


                                <div class="item">
                                    <div class="change-timeline">
                                      <div>
                                        <div class="meta">
                                          <div class="version">Version 3.3.0</div>
                                          <div class="release-date">24/05/2024</div>
                                        </div>
                                        <div class="connector">
                                          <div></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content">
                                      <h3>A new minor update release! 🎉</h3>
                                      
                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <div>
                                          <p>Updated the text on the following links:</p>
                                          <ul>
                                            <li>“Download PDF Report” to “Save & Download PDF Report”</li>
                                            <li>“Copy PDF Link” to “Save & Copy PDF”</li>
                                          </ul>
                                        </div>
                                      </div>

                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <div>
                                          <p>Updated the text on the following links:</p>
                                          <ul>
                                            <li>“Download PDF Report” to “Save & Download PDF Report”</li>
                                            <li>“Copy PDF Link” to “Save & Copy PDF”</li>
                                          </ul>
                                        </div>
                                      </div>
                                      
                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <p>Display one signature on Variation Edit page</p>
                                      </div>

                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <p>Add “Mark all as Approve” button on the Client’s Variation page</p>
                                      </div>

                                    </div>
                                </div>

                                <div class="item">
                                  <div class="change-timeline">
                                    <div>
                                      <div class="meta">
                                        <div class="version">Version 3.2.0</div>
                                        <div class="release-date">22/05/2024</div>
                                      </div>
                                      <div class="connector">
                                        <div></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <h3>A new minor update release! 🎉</h3>
                                    
                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add signature on the Variation PDF</p>
                                    </div>

                                  </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                  <div class="meta">
                                    <div class="version">Version 3.1.1</div>
                                    <div class="release-date">17/05/2024</div>
                                  </div>
                                  <div class="connector">
                                    <div></div>
                                  </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new fixes release! 🎉</h3>
                            
                                  <div class="feature">
                                  <div class="tag fixes">Fixes</div>
                                  <p>Fix Variation form -  Add show and hide Unit of Measure(UOM) to Variation settings</p>
                                  </div>
                            
                                  <div class="feature">
                                  <div class="tag fixes">Fixes</div>
                                  <p>Fix Variation PDF Line items’ settings</p>
                                  </div>
                            
                                  <div class="feature">
                                  <div class="tag enhancements">Minor</div>
                                  <p>Add a "List" link beside the "Cancel" link on the Variations’ Create and Edit page</p>
                                  </div>
                                  
                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Add a detect function to unsaved changes for the “Cancel” and “List” link</p>
                                  </div>

                                </div>
                                
                             </div>

                              <div class="item">
                                  <div class="change-timeline">
                                    <div>
                                      <div class="meta">
                                        <div class="version">Version 3.1.0</div>
                                        <div class="release-date">15/05/2024</div>
                                      </div>
                                      <div class="connector">
                                        <div></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <h3>A new minor update release! 🎉</h3>
                                    
                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Turn on the "Hide Group Budget" as the default setting on the Variation settings</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add variation admin email addresses as CC to the Variation Submit to Client email</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add “Approve by Admin” functionality to the Variation Edit page</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag fixes">Fixes</div>
                                      <p>Fix the invalid account issue when creating new user accounts from the Variation page</p>
                                    </div>

                                  </div>
                              </div>
                              
                              <div class="item">
                                    <div class="change-timeline">
                                      <div>
                                      <div class="meta">
                                        <div class="version">Version 3.0.3</div>
                                        <div class="release-date">10/05/2024</div>
                                      </div>
                                      <div class="connector">
                                        <div></div>
                                      </div>
                                      </div>
                                    </div>
                                    <div class="content">
                                      <h3>A new fixes release! 🎉</h3>
                                
                                      <div class="feature">
                                      <div class="tag fixes">Fixes</div>
                                      <p>Add Upcoming meetings to user logs</p>
                                      </div>
                                
                                      <div class="feature">
                                      <div class="tag fixes">Fixes</div>
                                      <p>Fix PDF on both Daily and Weekly Report issues on missing data from tag inputs</p>
                                      </div>
                                
                                      <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Update the tag inputs theme color to dark</p>
                                      </div>
                                
                                      <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add the drag and drop functionality for tag inputs so cut and paste are no longer needed</p>
                                      </div>
                                
                                      <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Move the global variation start number settings to per project</p>
                                      </div>
                                
                                      <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Move the global variation toggle slide options settings to per project</p>
                                      </div>
                                
                                      <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add the delete Variation functionality</p>
                                      </div>

                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <p>Update the order of Variation based on Variation Number</p>
                                        </div>

                                      <div class="feature">
                                        <div class="tag enhancements">Minor</div>
                                        <p>Update Dashboard labels</p>
                                        </div>
                                
                                    </div>
                                    
                              </div>
                                

                              <div class="item">
                                  <div class="change-timeline">
                                    <div>
                                      <div class="meta">
                                        <div class="version">Version 3.0.2</div>
                                        <div class="release-date">06/05/2024</div>
                                      </div>
                                      <div class="connector">
                                        <div></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <h3>A new fixes release! 🎉</h3>

                                    <div class="feature">
                                      <div class="tag fixes">Fixes</div>
                                      <p>Fix Admin Settings colour for buttons</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag fixes">Fixes</div>
                                      <p>Fix Admin Settings colour for links and slide toggles</p>
                                    </div>


                                  </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 3.0.1</div>
                                      <div class="release-date">28/04/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new fixes release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the footer of the PDF to hide icons if there is no mobile,telephone,email or address data to show.</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the footers icon spacing</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the variation PDF Footer</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the variation not generating report number when you create</p>
                                  </div>

                                </div>
                            </div>


                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 3.0.0</div>
                                      <div class="release-date">27/04/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new major update release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag new">Major</div>
                                    <p>Updated the new Daily Report and Weekly Report Design</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Updated the PDF footer from image to text. To Update the PDF footer details, go to Settings -> Admin Settings</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added Mobile Address field into the User Data. To add mobile number to user, go to Settings -> Manage Users</p>
                                  </div>

                                </div>
                            </div>

                              <div class="item">
                                  <div class="change-timeline">
                                    <div>
                                      <div class="meta">
                                        <div class="version">Version 2.9.0</div>
                                        <div class="release-date">19/04/2024</div>
                                      </div>
                                      <div class="connector">
                                        <div></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <h3>A new minor update release! 🎉</h3>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Updated the Email Template for Weekly Report Admin, Weekly Report Client, New Project Request Email, New Project Client Request Email </p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Added new email template for New Client Users</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Updated the Rich Text Editor on the Weekly Report Edit page</p>
                                    </div>

                                  </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.8.0</div>
                                      <div class="release-date">18/04/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new minor update release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added the ability, if you click on the blue image indicator button that it opens up the image attached to that variation item</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added to the project variations list the options to filter out Drafts, Approved, Sent to Client and any other available filtering option.</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>added the option to choose your own variation format in the global variation settings, this would allow different Tradies Accounts to select the variation format that they would like. </p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added toggle controls on both Global and Local Variations to hide and show the elements in the pdf.</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Applied currency format on front end (no dollar sign)</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Applied right justified all the numbers (Front-end and PDF)</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Removed all the dollar sign on the line items (PDF)</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added a warning on the variation if click outside the box</p>
                                  </div>

                                </div>
                            </div>

                              <div class="item">
                                  <div class="change-timeline">
                                    <div>
                                      <div class="meta">
                                        <div class="version">Version 2.7.0</div>
                                        <div class="release-date">09/04/2024</div>
                                      </div>
                                      <div class="connector">
                                        <div></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <h3>A new minor update release! 🎉</h3>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add an Optional Caption field for the image</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Move the Description down underneath the Group heading, move the column heading down as well.</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Add the Due Date under the Date section on the PDF</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Site Contact & Phone need to remain blank if no info is added to those fields in the Projects Page</p>
                                    </div>

                                    <div class="feature">
                                      <div class="tag enhancements">Minor</div>
                                      <p>Builders Margin Options for Global and Per Variations Setup</p>
                                    </div>

                                  </div>
                              </div>


                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.6.0</div>
                                      <div class="release-date">04/04/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new minor update release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added Remove PDF functionality from external quotes pop up and deletes the removed file from the Firebase Storage</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added Merge PDF functionality. (Triggers on create variation, update variation and remove external quotes)</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Change the Variation Save process (Upload External quotes, Generate PDF, Merge PDF, upload merged  PDF, upload images, then save</p>
                                  </div>

                                </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.5.2</div>
                                      <div class="release-date">28/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new fixes release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p> Add new field ('hasImage') for "no image" detection rather than base64 comparison detection</p>
                                  </div>
                                  
                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the placeholder image still showing on the Client dashboard variant page</p>
                                  </div>


                                </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.5.1</div>
                                      <div class="release-date">28/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new fixes release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the rendering of logo and footer in Variation PDF</p>
                                  </div>
                                  
                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added Client's Address under Project forms</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Removed Client's Address under Variation forms</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added quantity of uploaded PDFs for External Quote Variation</p>
                                  </div>

                                </div>
                              </div>


                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.5.0</div>
                                      <div class="release-date">28/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new minor update release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added external quotes pdf feature on the Variations</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Hide Blank images on the variation create and edit page</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the Diary Images duplication and inconsistent display of images in the dashboard</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Minor adjustments on the editor field on the variation (strong text, preserve space, etc.)</p>
                                  </div>

                                </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.4.1</div>
                                      <div class="release-date">25/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new fixes release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix responsive (1000 - 1200px resolution) for Gallery Slider on Dashboard page</p>
                                  </div>
                                  
                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix not updating project error. Added undefine compatiblity on project edit page(data ? data : '')</p>
                                  </div>

                                </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.4.0</div>
                                      <div class="release-date">25/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new minor update release! 🎉</h3>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Updated the Gantt Chart Library. visit "[tradies link]/schedule" to check</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added 2 new fields on creating and updating projects. (Site Contact and Contact Phone)</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added Download and Copy PDF in Daily Report Page</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Added Client's Address in Variation's pages (Both Create and Edit page)</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Updated the Variations PDF layout</p>
                                  </div>
                                  
                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the image indicator in Variation edit and create Item popup</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Fix the wording in Global Variation settings.</p>
                                  </div>

                                </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.3.0</div>
                                      <div class="release-date">18/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new minor update release! 🎉</h3>
                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Reason in Daily Report changed from required to optional</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Updated the Variation Number increment from global to per project only</p>
                                  </div>

                                </div>
                              </div>


                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.2.0</div>
                                      <div class="release-date">15/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new minor update release! 🎉</h3>
                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Variations - Place the GST down the bottom just above the total in the table on the resulting PDF but leave the individual line item GST totals in place</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Variations - Make the "Description" entry box a long text box, also make it so copy and pasted text retains its formatting EG: Bold, Bullet points, paragraph breaks</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Global List - Added Global List Page for Unit of Measurements</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Variations - Add the function to add a UOM on the fly and have it added to the global list</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Variations - When you with Save or Submit to Client the variation, it jumps out to the Variations list, change it so it stays on the variation being edited.</p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Variations - Add a button "Submit for Approval" which will send an email to the Admin email </p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>On the main Variations list add the to following columns - Creation Date, Total  </p>
                                  </div>

                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>When the Approved Quote has been edit when the Save button has been clicked 2 things need to happen, a. The needs to be a Pop Up Warning "This will override this Variation and will require the client approve it again. Are you sure you want to do this?" b. The Client signature needs to be deleted.</p>
                                  </div>

                                </div>
                              </div>

                              <div class="item">
                                <div class="change-timeline">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.1.0</div>
                                      <div class="release-date">11/03/2024</div>
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>A new minor update release! 🎉</h3>
                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>added Changelog page</p>
                                  </div>
                                </div>
                              </div>
                    
                              <div class="item">
                                <div class="change-timeline has-next">
                                  <div>
                                    <div class="meta">
                                      <div class="version">Version 2.0.0</div>
                                      <!-- <div class="release-date">2 Weeks Ago</div> -->
                                    </div>
                                    <div class="connector">
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3>Welcome to our new way of sharing release notes!</h3>
                                  <p>From here on out, this will be the go to place to see new changes!</p>
                                  <p>New release includes a new fresh timeline and tags!</p>
                                  <div class="feature">
                                    <div class="tag new">Major</div>
                                    <p>Tag for Major release</p>
                                  </div>
                                  <div class="feature">
                                    <div class="tag enhancements">Minor</div>
                                    <p>Tag for Minor release</p>
                                  </div>
                                  <div class="feature">
                                    <div class="tag fixes">Fixes</div>
                                    <p>Tag for Fixes</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                    
                            <!-- <div id="pagination" tabindex="0">See More</div> -->
                          </div>

                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
       