<div class="main-content dashboard-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                    <div class="card">
                            <div class="card-header card-header-text card-header-info">
          
                            </div>
                            <div class="card-body">
                                <form [formGroup]="form">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>New Password</mat-label>
                                                            <input formControlName="password" id="password" placeholder="New Password" matInput  type="text">
                                                    </mat-form-field>
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Confirm New Password</mat-label>
                                                            <input formControlName="confirm_password" id="confirm_password" placeholder="Confirm New Password" matInput  type="text">
                                                    </mat-form-field>
                                                    <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                                                        <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                                                    </div>
                                    

                                    <button (click)="updatePassword()" class = "btn dcb-btn" mat-button type="submit" [disabled]="!form.valid">Update Password</button>
                                  
                                </form>
                            </div>
                            
                    </div>
                </div>
        </div>
    </div>
</div>
