
<div class="wrapper wrapper-full-page login-wrapper">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login2.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 ml-auto mr-auto">
            <div class="card card-login">
              <div class="card-header card-header-rose text-center" style = "width:300px;margin-left:auto;margin-right:auto;">
                <!-- <h4 class="card-title">Log in</h4> -->
                <!-- <img  style="max-width: 100%;" [src]="logoURL"/> -->
                <div class="logo-holder" style="padding: 15px;margin: 15px;background: #FFFFFF;">
                  <img  style="max-width: 100%;" [src]="logoURL"/>
                </div>
                <!-- <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div> -->
              </div>
              <div class="card-body ">
                <div class = "row justify-content-center align-items-center">
                    <div class="col-md-8">
                      <h2 style ="text-align:center">Thank You</h2>
                      <p style="text-align:center">Your project has been submitted. We will update you shortly.</p>
                    </div>
                </div>
                    
              </div>
              <div class="card-footer justify-content-center">

<!--                            
                  <button  [disabled]="sendProjectClientForm.get('agree').value != true" class="btn dcb-btn"  (click)="submit()">Submit</button> -->

                <!-- <a href="#" (click)="signIn()" class="btn btn-rose btn-link btn-lg">Lets Go</a> -->
                
                <!-- <button *ngIf="authService.isLoggedIn" class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.logout()">Log out</button> -->
              </div>
            </div>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <!-- <div class="copyright pull-right">
          &copy;
            {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div> -->
        <!-- <div class="">
          {{test | date: 'yyyy'}} &copy; David Campbell Building | All Rights Reserved | Site by <a href="https://spindesign.com.au" target="_blank">Spin Design</a>
        </div> -->
      </div>
    </footer>
  </div>
</div>
