
<div class="main-content dashboard-content dailyproject-content">
    <div class="container-fluid">
        <div class = "row">
            <div class="col-md-12">
                <div class="card card-dcb dashboard-card">
                      <div class="card-header card-header-text card-header-success">
                          <!-- <div class="card-text">
                              Weekly Progress Report
                          </div>  -->
                          <!-- <div class = "side-link">
                              <button [routerLink]="'/notes/update'"  mat-button class="btn btn-primary">
                                <i class="material-icons">update</i> Update Note
                            </button>
                          </div> -->
                      </div>
                      <div class="card-body compact-layout compact-layout-common">
                            <form  class="dcb-form">
                                <!-- <div class="row">
                                    <div class="col-md-3 col-lg-2"> -->
                                        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
                                    <!-- </div>
                                </div> -->
                            </form>
                      </div>
                </div>
                
                <div class="smart-table-holder" *ngIf="selectedClientId">
                    <h1>Variation </h1>
                    <ng2-smart-table [settings]="Settings" [source]="source"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
               