
<div class="wrapper wrapper-full-page login-wrapper">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login2.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 ml-auto mr-auto">
            <div class="card card-login">
              <div class="card-header card-header-rose text-center" style = "width:300px;margin-left:auto;margin-right:auto;">
                <!-- <h4 class="card-title">Log in</h4> -->
                <!-- <img  style="max-width: 100%;" [src]="logoURL"/> -->
                <div class="logo-holder" style="padding: 15px;margin: 15px;background: #FFFFFF;">
                  <img  style="max-width: 100%;" [src]="logoURL"/>
                </div>
                <!-- <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div> -->
              </div>
              <div class="card-body card-body2">
                <form  [formGroup]="sendProjectClientForm" class="dcb-form">
                    <div class="compact-layout compact-layout-common">
                      <div class = "row justify-content-center align-items-center">
                            <div class="col-md-4">
                                <label>Client Name</label>
                                <input formControlName="clientName" id="clientName" matInput  type="text">
                            </div>
                            <div class="col-md-4">
                                <input formControlName="company" type="checkbox" class="mat-checkbox-input"> Company  
                                <input formControlName="individual" type="checkbox" class="mat-checkbox-input" style="margin-left:10px"> Individual
                                <input formControlName="abn" id="abn" matInput  placeholder="ABN" type="text">
                            </div>
                      </div>
                      <div class = "row justify-content-center align-items-center">
                            <div class="col-md-4">
                              <label>Site Address</label>
                              <input class = "hide-me" formControlName="siteAddress" id="siteAddress" placeholder="Site Address" matInput
                                type="text">
                              <input class = "hide-me" formControlName="latitude" id="latitude" placeholder="Latitude" matInput
                              type="text">
                              <input class = "hide-me" formControlName="longitude" id="longitude" placeholder="Longitude" matInput
                              type="text">
                                <input matInput 
                                matGoogleMapsAutocomplete
                                (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                (onLocationSelected)="onLocationSelected($event)"
                                >
                                <!-- <label>Site Address</label>
                                <input formControlName="siteAddress" id="siteAddress" matInput  type="text"> -->
                            </div>
                            <div class="col-md-4">
                                <label>Site Name</label>
                                <input formControlName="siteName" id="siteName" matInput  type="text">
                            </div>
                      </div>
                      <div class = "row justify-content-center align-items-center">
                            <div class="col-md-4">
                                <label>Contact Number</label>
                                <input formControlName="contactNumber" id="contactNumber" matInput  type="text">
                            </div>
                            <div class="col-md-4">
                                <label>Contact Email</label>
                                <input formControlName="contactEmail" id="contactEmail" matInput  type="text">
                            </div>
                      </div>
                      <div class = "row justify-content-center align-items-center">
                            <div class="col-md-4">
                              <label>Send Invoices to</label>
                              <input formControlName="sendInvoicesTo" id="sendInvoicesTo" matInput  type="text">
                          </div>
                          <div class="col-md-4">
                              <label>Urgency</label>
                              <mat-select formControlName="urgency" id="urgency" placeholder="Urgency" name="urgency">
                                      <mat-option *ngFor="let urgencyChoice of urgencyChoices" [value]="urgencyChoice.value">
                                      {{ urgencyChoice.viewValue }}
                                      </mat-option>
                              </mat-select>  
                              <!-- <input formControlName="urgency" id="urgency" matInput  type="text"> -->
                          </div>
                      </div>
                      <div class = "row justify-content-center align-items-center">
                          <div class="col-md-8">
                              <label>Description of Works</label>
                              <textarea  formControlName="descriptionWorks" id="descriptionWorks" matInput  type="text"  rows="2"></textarea>
                          </div>
                      </div>
                      <div class = "row justify-content-center align-items-center">
                        <div class="col-md-8">
                            <!-- <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis consectetur enim vel sagittis. Aenean tempor molestie massa. Ut ut ipsum et justo sollicitudin maximus.</p> -->
                        </div>
                      </div>
                      <!-- <div class = "row justify-content-center align-items-center">
                        <div class="col-md-8">
                          <label style="text-align: center;">Signature</label>
                          <signature-pad #signature [options]="signaturePadOptions" formControlName="signature" id="signature"></signature-pad>
                          <button style="margin: 20px auto;display: block;padding: 8px 12px;font-size: 11px;" class="btn dcb-btn" type="button" (click)="signaturePad.clear()">Clear</button>
                        </div>
                      </div> -->
                      <br>
                      <div class = "row justify-content-center align-items-center">
                        <input formControlName="agree" type="checkbox" class="mat-checkbox-input" style="margin-right:10px"> I Agree with the Terms and Conditions
                      </div>
                      
                    </div>
                </form>
              </div>
              <div class="card-footer justify-content-center">

                           
                  <button  [disabled]="sendProjectClientForm.get('agree').value != true" class="btn dcb-btn"  (click)="createProjectRequest()">Submit</button>

                <!-- <a href="#" (click)="signIn()" class="btn btn-rose btn-link btn-lg">Lets Go</a> -->
                
                <!-- <button *ngIf="authService.isLoggedIn" class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.logout()">Log out</button> -->
              </div>
            </div>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <!-- <div class="copyright pull-right">
          &copy;
            {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div> -->
        <!-- <div class="">
          {{test | date: 'yyyy'}} &copy; David Campbell Building | All Rights Reserved | Site by <a href="https://spindesign.com.au" target="_blank">Spin Design</a>
        </div> -->
      </div>
    </footer>
  </div>
</div>
